/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --header__description--text-color: #000028;
  --header__description--bg-color: #FF0070;
  --corner-color: #FF0070;
  --button-hover-opacity: rgb(255, 0, 112 , 0.4);
  --header_title-text-color: #DB00FF;
  --accent-color: #FF0070;
  --section_title-text-color: #FF0070;
  --section_title-text-color_h3: #000028;
  --main-text-color: #F1B2CE;
}