/* Основные стили проекта */
.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  max-width: 1024px;
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  color: var(--main-text-color);
}

/* ----- HEADER & FOOTER ----- */
.header,
.footer {
  height: 100vh; 
  min-height: 668px;
  position: relative;
  display: flex;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr; 
  margin-bottom: 60px;
}

.footer {
  align-items: center;
  justify-content: center;
}

/* ----- МЕНЮ ----- */
.header__theme-menu {
  grid-row: 1 / 2; 
  justify-self: center; 
  align-self: start; 
  margin-top: 18px;  
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  font-weight: normal;
  text-transform: lowercase;
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 70px;
  color: var(--corner-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--corner-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--corner-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-opacity);
}

.header_title,
.footer_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--header_title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;
}

.header_title {
  grid-row: 2 / 3; 
  justify-self: start; 
  align-self: center; 
}

/* ----- ОПИСАНИЕ В ХЕДЕРЕ ----- */
.header__description {
  grid-row: 3 / 4; 
  justify-self: end; 
  align-self: end; 
  max-width: 491px;
  width: 100%;
  margin: 0 20px 135px 0;
  background-color: var(--accent-color);
  color: var(--header__description--text-color);
  font-weight: bold;
}

/* REC скрыт по умолчанию */
.header_rec {
  position: absolute;
  top: 22px;
  right: 22px;
  color: var(--accent-color);
  font-weight: normal;
  display: none;
  align-items: center;
  gap: 10px;
}

.header_rec::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(2px);
  margin-right: 5px;
}

/* ----- УГОЛКИ (декоративные) ----- */
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

 .decorated-zone::before { /* нижний */
  bottom: 20px;
  left: 20px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-right: 1px solid var(--corner-color);
  border-top: 1px solid var(--corner-color);
}

/* ----- ОСНОВНЫЕ СТИЛИ ----- */
.main-content {
  margin: 0 20px;
}

.content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.section_title, .section_title_third, .section_text {
  font-size: var(--main-text_font-size);
}

.section_title {
  color: var(--section_title-text-color);
  grid-column: span 1;
}

.section_content {
  display: flex;
  flex-direction: column;
}

.section_title_third {
  background-color: var(--accent-color);
  color: var(--section_title-text-color_h3);
}

.section_text {
  line-height: 23.4px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none; 
  text-shadow: 
    2px 2px 0 var(--accent-color), 
    4px 4px 0 var(--bg-color);       
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);;
}

.link:focus {
  outline: 1px solid var(--main-text-color);
  outline-offset: 2px;
}

/* ----- СЕКЦИЯ "ЧТО СНИЖАЕТ КОНЦЕНТРАЦИЮ" ----- */
.section_title--wide {
  grid-column: 1/-1;
  max-width: 315px;
}

/* ----- СЕКЦИЯ "РЕШЕНИЕ" ----- */
.section_title_third_font-weight {
  font-weight: normal;
}

/* ----- СЕКЦИЯ С КАРТИНКАМИ ----- */
.content-section_gap {
  gap: 20px;
}

.pictures__item {
  margin: 0;
}

.pictures__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pictures__item--sunset, .pictures__item--street, .section_content--wide {
  grid-column: span 2;
}

.pictures__item--ice-cream, .pictures__item--cassette {
  grid-row: span 2;
}

/* ===== УНИВЕРСАЛЬНЫЕ УТИЛИТЫ ДЛЯ ОТСТУПОВ ===== */
.mb-tight {
  margin-bottom: 10px;
}
.mb-normal {
  margin-bottom: 19px;
}
.mb-standard {
  margin-bottom: 20px;
}
.mb-spacious {
  margin-bottom: 22px;
}
.mb-huge {
  margin-bottom: 60px;
}
.mb-xl {
  margin-bottom: 80px;
}

/* ===== АДАПТИВ ===== */
@media (max-width: 1023px) {
  .header__theme-menu {
    justify-self: end;  
    margin: 192px 20px 0 0;
  }
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__description {
    margin: 0 20px 184px 0;
    width: 364px;
  }

  .content-section {
    column-gap: 35px;
  }

  .section_title--wide {
    width: 236px;
  }

  .content-section_concentration {
    grid-template-columns: 1fr;
  }

  .section_content_concentration {
    margin-bottom: 20px;
  }

  .content-section_gap {
    gap: 20px;
  } 
}

@media (max-width: 767px) {
 .header__theme-menu {
    margin: 75px 20px 0 0;
  }

  .header_title {
    line-height: 82.5%;
    margin-left: 10px;
  }

  .header__description {
    margin: 0 10px 67px 10px;
  }

  .header_title, .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    margin-bottom: 40px;
  }

  .content-section {
    margin-bottom: 51px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .header_rec {
    top: 10px;
    right: 10px;
  }

  .main-content {
    margin: 0 10px;
  }

  .section_title--wide {
    width: 355px;
  }

  .section_title {
    margin-bottom: 21px;
  }

  .content-section {
    grid-template-columns: 1fr;
  }

  .mb-huge {
    margin-bottom: 31px;
  }

  .mb-media {
    margin-bottom: 10px;
  }

 .section_pictures {
    grid-template-columns: 1fr;
  }

  .content-section_gap {
    gap: 10px;
  } 

  .pictures__item {
    max-height: auto; 
  }

  .pictures__image {
    height: 100%;
    object-fit: contain; 
  }

  .pictures__item--sunset,
  .pictures__item--ice-cream,
  .pictures__item--cassette,
  .pictures__item--book,
  .pictures__item--street {
    grid-column: span 1;
    grid-row: span 1;
  }

  .footer {
    margin-top: -10px;
  }
}


 
